<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat-app-back-end</title>

  {{!-- import bootswatch: Minty style --}}
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  {{!-- import local css --}}
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  {{!-- navbar --}}
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Chat up</a>
  </nav>

  {{!-- messages --}}
  <div class="container alert-message">
    {{#if success_messages}}
    <div class="alert alert-success" role="alert">
      {{success_messages}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
    {{#if error_messages}}
    <div class="alert alert-danger" role="alert">
      {{error_messages}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
  </div>

  {{!-- partial template --}}
  <div class="container">
    {{{body}}}
  </div>


  <!-- 向 cdn 取得 socket.io.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <!-- 向 server 取得 socket.io.js -->
  {{!-- <script src="/socket.io/socket.io.js"></script> --}}

  <!-- import jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- import local js -->
  <script src="/js/main.js"></script>

</body>

</html>