<div class="row">
  <div class="col">
    {{!-- chat message list here --}}
    <ul id="messages" class="list-group">

    </ul>

    {{!-- user input here --}}
    <form action="" class="fixed-bottom mb-3">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>